<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>condition statements</h1
            {% if a > 100  %}
                 <h1>{{a}}</h1>
             {% endif %}
            

             <h2>if else condition</h2>
             {% if a > b %}
                <h1>a is max</h1>
             {% else %} 
                 <h2>b is max</h2>  
              {% endif %}


              <h1>if elif condition</h1>
              {% if a > b and a > c %}
                   <h1>a is max</h1>
              { % elif  b > c %}
              <h1>elif block</h1>
              <h1>{{b is max}}</h1>
            {% else %}
               <h1>inside else</h1>
               <h1>{{ c is max</h1>
            {% end if %}


            <h1>nested if blocks</h1>
            {%if a > b %}
                     {%if a > c %}
                        <h1>a is max</h1>
                     {% else %}
                        <h1> c is max</h1>
                      {% endif %}
               { % endif %}
                { % if b > c %}
                   <h1> b is max </h1>
                     {% else %}
                         <h1> c is max </h1>
                     {% endif %}
                  {% endif %}


    </center>
    
</body>
</html>